html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
  background-color: #f8f8f8;
  animation: fadeInUp 2s;
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: #2d2d22;
}

h1 {
  text-align: center;
}

h2{
  text-align: center;
}
