.homeSection {
    margin-bottom: 100px;
    height: 300px;
}

.homeSectionFotos {
    height: 300px;
}
    
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 50%;
    grid-column: 3;
}

.menu {
    background-color: lightgray;
    display: grid;
    height: 100%;
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-column: 1;
    grid-row: auto;
    position: fixed;
    padding: 10px;
    margin: 0px;
    
    
}

.menu > nav {
   display: grid; 
   margin: 0px 0px auto 0px;
}

.dinhoPic {
    border-radius: 9999px;
    margin: auto;
    position: absolute;
    
}

.logoPic {
    margin: 40px auto;
    
}

.intro {
    grid-column: 2;
    text-align: center;
}

.conten {
    display: grid;
    grid-template-columns: 0.35fr 0.6fr 1.2fr;
    
}
.firstCollumn {
    background-color: aquamarine;
    padding: 0px;
    margin: 0px;
    
}